body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: 1.563em;
    color: var(--clr-txt);

    background-color: var(--clr-bg);
}

h1 {    
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    line-height: 2.375em;
    color: var(--clr-header);
}

h2 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    line-height: 2.063em;
    color: var(--clr-header);
}

h3 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal);
    line-height: 1.5em;
    color: var(--clr-primary);
}

h4 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-small);
    line-height: 1.25em;
    color: var(--clr-txt);
}

button {
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);

    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    border-radius: 0.625em;    

    &:hover {
        background-color: var(--clr-primary-light);
    }
}

a {
    line-height: 1.389em;
    color: var(--clr-txt);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    // &:disabled {

    // }
}