.light {
    --clr-bg: hsl(228, 100%, 98%);
    --clr-bg-lighter: hsl(0, 0%, 100%);
    --clr-txt: hsl(217, 35%, 45%);
    --clr-header: hsl(217, 21%, 21%);

    background-color: var(--clr-bg);
    height: 100vh;

    #header {
        .color-switch:hover {
            span {
                color: var(--clr-header);
            }
    
            .icon {
                path {
                    fill: var(--clr-header);
                }
                g {
                    fill: var(--clr-header);
                }
            }
        }   
    }
}


.dark {
    --clr-bg: hsl(220, 40%, 13%);
    --clr-bg-lighter: hsl(222, 41%, 20%);
    --clr-txt: hsl(0, 0%, 100%);
    --clr-header: hsl(0, 0%, 100%);  

    background-color: var(--clr-bg);
    height: 100vh;

    #header {
        .color-switch:hover {
            span {
                color: hsl(222, 44%, 70%);
            }
    
            .icon {
                path {
                    fill: hsl(222, 44%, 70%);
                }
                g {
                    fill: hsl(222, 44%, 70%);
                }
            }
        }   
    }

    #search-bar, #content {
        box-shadow: none;
    }
}
