
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1.5em;
    margin-bottom: 1.5em;

    h1 {
        font-size: var(--fs-devfinder);
    }

    .color-switch {
        display: flex;
        align-items: center;
        cursor: pointer;

        text-transform: uppercase;
        font-weight: var(--fw-bold);


        span {
            color: var(--clr-txt);
        }

        

        .icon {
            margin-left: 1em;
            path {
                fill: var(--clr-txt);
            }
            g {
                fill: var(--clr-txt);
            }
        }
    }   

    &:hover {
        span {
            color: var(--clr-header);
        }

        .icon {
            path {
                fill: var(--clr-header);
            }
            g {
                fill: var(--clr-header);
            }
        }
    }
   
}
